<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.jeisfeld.miniris"
    android:installLocation="auto"
    android:versionCode="54"
    android:versionName="1.4.3">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name="de.jeisfeld.miniris.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:ignore="UnusedAttribute"
        android:fullBackupContent="true">
        <activity
            android:name="de.jeisfeld.augendiagnoselib.activities.CameraActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/title_activity_camera"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.Fullscreen"
            tools:replace="android:label"
            android:exported="true">
            <intent-filter
                android:icon="@mipmap/ic_launcher"
                android:label="@string/title_activity_camera">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="de.jeisfeld.augendiagnoselib.activities.ListFoldersForDisplayActivity"
            android:icon="@mipmap/ic_launcher_gallery"
            android:label="@string/title_activity_list_folders_for_display"
            tools:ignore="UnusedAttribute"
            android:exported="true">
            <intent-filter android:label="@string/title_activity_list_folders_for_display">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="de.jeisfeld.miniris.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
    </application>

</manifest>