<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="de.jeisfeld.miniris"
          android:installLocation="auto"
          android:versionCode="15"
          android:versionName="1.1.7">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="23"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="com.android.vending.BILLING"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true"/>
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false"/>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true"/>

    <application
        android:name="de.jeisfeld.miniris.Application"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:ignore="UnusedAttribute">
        <activity
            tools:replace="android:label"
            android:name="de.jeisfeld.augendiagnoselib.activities.CameraActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/title_activity_camera"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen">
            <intent-filter
                android:icon="@drawable/ic_launcher"
                android:label="@string/title_activity_camera">
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name="de.jeisfeld.augendiagnoselib.activities.DisplayTwoActivity"
            android:icon="@drawable/ic_launcher_gallery"
            android:label="@string/title_activity_display_two"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"
            tools:ignore="UnusedAttribute">
        </activity>
        <activity
            android:name="de.jeisfeld.augendiagnoselib.activities.DisplayOneActivity"
            android:icon="@drawable/ic_launcher_gallery"
            android:label="@string/title_activity_display_one"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"
            tools:ignore="UnusedAttribute">
        </activity>
        <activity
            android:name="de.jeisfeld.augendiagnoselib.activities.ListFoldersForDisplayActivity"
            android:icon="@drawable/ic_launcher_gallery"
            android:label="@string/title_activity_list_folders_for_display"
            tools:ignore="UnusedAttribute">
            <intent-filter android:label="@string/title_activity_list_folders_for_display">
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="de.jeisfeld.augendiagnoselib.activities.ListFoldersForDisplaySecondActivity"
            android:icon="@drawable/ic_launcher_gallery"
            android:label="@string/title_activity_list_folders_for_display_second"
            android:theme="@android:style/Theme.Holo.Dialog"
            tools:ignore="UnusedAttribute,UnusedAttribute">
        </activity>
        <activity
            android:name="de.jeisfeld.augendiagnoselib.activities.OrganizeNewPhotosActivity"
            android:label="@string/title_activity_organize_new_photos"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name="de.jeisfeld.augendiagnoselib.activities.ListPicturesForNameActivity"
            android:icon="@drawable/ic_launcher_gallery"
            android:label="@string/title_activity_list_pictures_for_name"
            tools:ignore="UnusedAttribute">
        </activity>
        <activity
            android:name="de.jeisfeld.augendiagnoselib.activities.ListPicturesForSecondNameActivity"
            android:icon="@drawable/ic_launcher_gallery"
            android:label="@string/title_activity_list_pictures_for_second_name"
            android:theme="@android:style/Theme.Holo.Dialog"
            tools:ignore="UnusedAttribute">
        </activity>
        <activity
            android:name="de.jeisfeld.augendiagnoselib.activities.SelectTwoPicturesActivity"
            android:label="@string/title_activity_select_two_pictures">
        </activity>
        <activity
            android:name="de.jeisfeld.augendiagnoselib.activities.SettingsActivity"
            android:label="@string/title_activity_settings">
        </activity>
        <activity
            android:name="de.jeisfeld.augendiagnoselib.activities.DisplayHtmlActivity"
            android:label="@string/title_help"
            tools:ignore="UnusedAttribute">
        </activity>
    </application>

</manifest>