<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="de.eisfeldj.augendiagnose"
          android:installLocation="auto"
          android:versionCode="84"
          android:versionName="1.3.8">

    <application
        android:name="de.eisfeldj.augendiagnose.Application"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:ignore="UnusedAttribute">
        <activity
            android:name="de.eisfeldj.augendiagnose.activities.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:mimeType="image/*"/>
            </intent-filter>
        </activity>
        <activity
            android:name="de.jeisfeld.augendiagnoselib.activities.ListFoldersForDisplayActivity"
            android:label="@string/title_activity_list_folders_for_display"
            android:parentActivityName=".activities.MainActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity"/>
        </activity>
        <activity
            android:name="de.jeisfeld.augendiagnoselib.activities.OrganizeNewPhotosActivity"
            android:label="@string/title_activity_organize_new_photos"
            android:parentActivityName=".activities.MainActivity"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity"
                tools:ignore="UnusedAttribute"/>
        </activity>
        <activity
            android:name="de.jeisfeld.augendiagnoselib.activities.ListPicturesForNameActivity"
            android:label="@string/title_activity_list_pictures_for_name"
            android:parentActivityName=".activities.MainActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity"
                tools:ignore="UnusedAttribute"/>
        </activity>
        <activity
            android:name="de.jeisfeld.augendiagnoselib.activities.SelectTwoPicturesActivity"
            android:label="@string/title_activity_select_two_pictures"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity"
                tools:ignore="UnusedAttribute"/>
        </activity>
        <activity
            android:name="de.jeisfeld.augendiagnoselib.activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity"
                tools:ignore="UnusedAttribute"/>
        </activity>
        <activity
            android:name="de.jeisfeld.augendiagnoselib.activities.DisplayHtmlActivity"
            android:label="@string/title_help"
            android:parentActivityName=".activities.MainActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity"/>
        </activity>

        <activity
            android:name="com.admarvel.android.ads.AdMarvelActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>

        <provider
            android:name="com.admarvel.android.ads.AdMarvelLocalFileContentProvider"
            android:authorities="de.jeisfeld.augendiagnoselib.AdMarvelLocalFileContentProvider"
            android:exported="false"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="de.eisfeldj.augendiagnose.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths"/>
        </provider>
    </application>
</manifest>