.button {
	-fx-text-fill: white;
	-fx-font-family: "Arial Narrow";
	-fx-font-weight: bold;
	-fx-background-color: linear-gradient(#61a2b1, #2A5058);
	-fx-effect: dropshadow(three-pass-box, rgba(0.0, 0.0, 0.0, 0.6), 5.0, 0.0, 0.0, 1.0);
}

.imageButton {
	-fx-padding: 0.0;
	-fx-background-color: transparent;
}

.listNames {
	-fx-padding: 0.0;
	-fx-pref-height: 10000.0;
}

.start {
	-fx-padding: 25.0;
	-fx-alignment: center;
	-fx-hgap: 10.0;
	-fx-vgap: 10.0;
}

#body {
	-fx-pref-height: 10000.0;
}

.display {
	-fx-padding: 0.0;
	-fx-hgap: 0.0;
	-fx-vgap: 0.0;
	-fx-alignment: center;
	-fx-background-color: whitesmoke;
	-fx-fill-height: true;
}