.button {
	-fx-text-fill: white;
	-fx-font-family: "Arial Narrow";
	-fx-font-weight: bold;
	-fx-background-color: linear-gradient(#61a2b1, #2A5058);
	-fx-effect: dropshadow(three-pass-box, rgba(0.0, 0.0, 0.0, 0.6), 5.0, 0.0, 0.0, 1.0);
}

.imageButton {
	-fx-padding: 0.0;
	-fx-background-color: transparent;
}

.listNames {
	-fx-padding: 0.0;
	-fx-pref-height: 10000.0;
}

#body {
	-fx-pref-height: 10000.0;
}

.displayPhotos {
	-fx-padding: 0.0;
	-fx-hgap: 0.0;
	-fx-vgap: 0.0;
	-fx-alignment: center;
	-fx-background-color: whitesmoke;
	-fx-fill-height: true;
}

.displayImage {
	-fx-background-color: whitesmoke;
	-fx-alignment: center;
}

.labelComment {
	-fx-font-weight: bold;
	-fx-padding: 5;
}

#dialogHeading {
	-fx-font-size: 18.0;
	-fx-font-weight: bold;
}

#dialogMessage {

}

.dialogProgress {
	-fx-padding: 10.0;
	-fx-border-width: 2.0;
	-fx-border-color: darkgrey;
}

.settingsHeading {
	-fx-font-size: 18.0;
	-fx-font-weight: bold;
}

#settingsPane {
	-fx-hgap: 10.0;
	-fx-vgap: 10.0;
	-fx-padding: 10.0;
}
