.button {
	-fx-text-fill: white;
	-fx-font-family: "Arial Narrow";
	-fx-font-weight: bold;
	-fx-background-color: linear-gradient(#61A2B1, #2A5058);
	-fx-alignment: center;
    -fx-border-insets: 1.0px;
    -fx-background-insets: 1.0px;
}

.button:pressed {
	-fx-background-color: linear-gradient(#ffa265, #BF1600);
}

.button .color-picker-label .text {
    -fx-fill: white;
}

.toggle-button {
	-fx-text-fill: white;
	-fx-font-family: "Arial Narrow";
	-fx-font-weight: bold;
	-fx-background-color: linear-gradient(#61A2B1, #2A5058);
	-fx-padding: 6.0px;
    -fx-border-insets: 1.0px;
    -fx-background-insets: 1.0px;
}

.toggle-button:selected {
	-fx-background-color: linear-gradient(#ffa265, #BF1600);
}

.menu-toggle-button {
    -fx-min-width: 24.0px;
    -fx-max-width: 24.0px;
    -fx-min-height: 24.0px;
    -fx-max-height: 24.0px;
    -fx-padding: 0.0px;
    -fx-border-insets: 0.0px;
    -fx-background-insets: 0.0px;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
}

.menu-toggle-button:selected {
    -fx-background-color: transparent;
}

.pane-button {
    -fx-background-image: url('/img/twopane.png');
}

.pane-button:selected {
    -fx-background-image: url('/img/twopane_selected.png');
}

.comment-button {
    -fx-background-image: url('/img/comment.png');
}

.comment-button:selected {
    -fx-background-image: url('/img/comment_selected.png');
}

.context-menu {
	-fx-font-size: 11.0pt;
	-fx-font-weight: normal;
}

.context-menu .bold {
	-fx-font-weight: bold;
}

.toggleOverlay {
	-fx-font-size: 14.0pt;
}

.imageButton {
	-fx-padding: 0.0;
	-fx-background-color: transparent;
}

.listNames {
	-fx-padding: 0.0;
	-fx-pref-height: 100000.0;
}

.displayPhotos {
	-fx-padding: 0.0;
	-fx-hgap: 0.0;
	-fx-vgap: 0.0;
	-fx-alignment: center;
	-fx-background-color: whitesmoke;
	-fx-fill-height: true;
}

.displayImage {
	-fx-background-color: whitesmoke;
	-fx-alignment: center;
}

.labelPanes {
	-fx-font-weight: bold;
	-fx-font-size: 14.0;
	-fx-padding: 5.0;
}

.labelTitle {
	-fx-font-weight: bold;
	-fx-font-size: 14.0;
	-fx-padding: 2 0 0 5;
}

#dialogHeading {
	-fx-font-size: 18.0;
	-fx-font-weight: bold;
}

#dialogMessage {

}

.dialog {
	-fx-padding: 5.0;
}

.dialogFrame {
	-fx-padding: 5.0;
	-fx-border-width: 2.0;
	-fx-border-color: darkgrey;
}

.settingsHeading {
	-fx-font-size: 18.0;
	-fx-font-weight: bold;
}

#settingsPane {
	-fx-hgap: 10.0;
	-fx-vgap: 10.0;
	-fx-padding: 10.0;
}
